html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html {
  background-image: url(../images/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

body, a {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 40px;
  padding-bottom: 10px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 70px;
  letter-spacing: 1px;
}

.title span {
  color: #ee7600;
}

.header__top {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list li + li {
  margin-left: 40px;
}

.header__cv-link {
  font-size: 54px;
}

.header__nav-link {
  font-size: 27px;
}

.header__about {
  padding: 180px 80px 270px;
}

.header__about-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__about-img:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.header__about-photo {
  text-align: center;
}

.header__about-photo a {
  display: inline-block;
  border-radius: 50%;
}

.header__about-subtitle {
  margin-top: 20px;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
}

.header__about-subtitle span,
.header__about-profname span {
  color: #ee7600;
}

.header__about-profname {
  font-size: 50px;
  text-align: center;
}

.about,
.skills {
  padding-bottom: 150px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__facts-title,
.about__plus-title,
.about__minus-title,
.skills__hard-title,
.skills__soft-title {
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.about__facts-title span,
.about__plus-title span,
.about__minus-title span,
.skills__hard-title span,
.skills__soft-title span {
  color: #ee7600;
}

.about__facts-part,
.about__pluses-part,
.about__minuses-part {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 10px;
  position: relative;
  max-width: 300px;
}

.about__facts-part span,
.about__pluses-part span,
.about__minuses-part span {
  color: #ee7600;
}

.about__facts-part sup,
.about__pluses-part sup,
.about__minuses-part sup {
  color: #ee7600;
  font-size: 10px;
  margin-left: 5px;
  letter-spacing: 0.6px;
}

.about__facts-part::before {
  position: absolute;
  content: ">";
  color: #ee7600;
  font-size: 30px;
  left: 0;
  -webkit-transform: translateY(-12%);
          transform: translateY(-12%);
  padding-left: 7px;
}

.about__pluses-part::before {
  position: absolute;
  content: "+";
  color: #ee7600;
  font-size: 30px;
  left: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  padding-left: 7px;
}

.about__minuses-part::before {
  position: absolute;
  content: "-";
  color: #ee7600;
  font-size: 45px;
  left: 0;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  padding-left: 7px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__hard-part,
.skills__soft-part {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  max-width: 300px;
  position: relative;
}

.skills__hard-part span,
.skills__soft-part span {
  color: #ee7600;
}

span.skills__part-stars {
  position: absolute;
  right: -110px;
  -webkit-transform: translateY(-16%);
          transform: translateY(-16%);
  color: #fff;
}

span.skills__part-stars span {
  color: #ee7600;
}

.skills__hard,
.skills__soft {
  padding: 30px 150px 30px 50px;
  border-radius: 20%;
  border: 2px solid #ee7600;
}
