$white: #F8F0E4;


html {
    box-sizing: border-box;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


html {
  background-image: url(../images/bg-4.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

body, a {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  &__top {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-list {
    display: flex;
  }
  &__nav-list li+li {
    margin-left: 40px;
  }
  &__cv-link {
    font-size: 54px;
  }
  &__nav-link {
    font-size: 27px;
  }
}

.header__about {
  padding: 150px 50px;
}


.header__about-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 50%;
  filter: brightness(40%);
  transition: all .5s;
}

.header__about-img:hover {
  filter: brightness(90%);
}

.header__about-photo {
  text-align: center;
}

.header__about-photo a {
  display: inline-block;
  border-radius: 50%;
}


.header__about-subtitle {
  margin-top: 20px;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
}

.header__about-subtitle span,
.header__about-profname span {
  color: #ee7600;
}

.header__about-profname {
  font-size: 50px;
  text-align: center;
}




// font-family: "Poppins", sans-serif;
// font-family: "Ubuntu", sans-serif;

// https://www.mff.cuni.cz/data/web/obsah/kfkl/icons/cv.svg



